/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/



body {
  width:100%;
  height:inherit;
  font-family: Helvetica;
  margin:0;
  color: white;
  background: rgb(50,50,50);
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

header {
  background-color: black;
  width:100%;
  display: block;
  position:absolute;
  top:0;
  left:0;

}

#interactive_elements{
  padding-top:10%;


}



h2 {
  margin-top: 4rem;
}

h3 {
  font-style: italic;
  margin-top: 1rem;
  font-family: Georgia;
}

h4 {
  margin-bottom: 0.25rem;
}

p {
  margin-top: 0;
}

li{
  font-weight: bold;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
  color:black;
}

label{
  color:white;
}


/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  border-style: solid;
  border-color: white;
  border-radius: 2em;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(0,0,0);
}

.textbox-small{
  width:40%;
  color:white;
  background-color: transparent;
  padding:1em;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.textbox-large{
  width:40%;
  height:10em;
  color:white;
  background-color: transparent;
  padding:1em;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.center-box{
  margin-left: 28.5%;

}
.center-button{
  margin-left: 47%;

}


/*
  TEXT ELEMENTS -------------------
*/




/*
  COMBINED ELEMENTS -------------------
*/
.img-text-container{
  padding-top:2.5em;

  display:flex;
  display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
  flex-wrap:wrap-reverse;
  justify-content: center;
  align-items: center;
  background-color: rgb(40,40,40);
}

.img-text-container-img{

  min-width: 48%;
  max-width: 49%;
}

.img-text-container-img img{
  margin:1em;
  max-width: 80%;
  min-width: 48%;
}

@media(max-width: 600px) {
  .img-text-container-img{
    min-width:80%;
    margin-left:12.5%;
    margin-right: 12.5%
  }
  .img-text-container-img img{
    min-width:100%;

  }
}

.img-text-container-img-index{
  margin-top: 7em;
  min-width:50%;



}
.img-text-container-img-index img{
  margin-left: 20%;
  max-width: 100%;
  min-width: 60%;
}

@media(max-width: 600px) {
  .img-text-container-img-index{
    min-width:80%;
    margin-left:12.5%;
    margin-right: 12.5%;
    margin-top: 3em;
  }
  .img-text-container-img-index img{
    min-width:100%;
    margin-left: 0%;

  }
}



.img-text-container-text{
  margin: 1rem;
  min-width: 40%;
  max-width: 41%;
}

@media(max-width: 600px) {
  .img-text-container-text{
    min-width:80%;
    margin-left:10%;
    margin-right: 10%
  }
}

.nav-full-line{
  margin:0;
  width:100%;
  position: absolute;
  top:0;
  background-color: rgb(0,0,0);
}

.nav-container{
  margin-left: 1em;
  display:flex;
  display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;

  flex-wrap: wrap;
  background-color: rgb(0,0,0);
}

.nav-container a{
  margin-right:1em;
  text-decoration: none;

}
.nav-container a:link{
  color:white;
}

.nav-container a:visited{
  color:white;
}

.nav-container a:active{
  color:grey;
}

.nav-container a h3{
  font-family: Helvetica,sans-serif;
}

@media(max-width: 600px) {

  .nav-container a{
    font-size:1.2em;
  }
}



.projects-container{
  padding: 2rem;
  display:flex;
  display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:baseline;
  background-color: rgb(40,40,40);
}

.projects-box{
  margin:1em;
  max-width: 45%;
  min-width: 44%;
  text-align: center;
}
.projects-box img{
  max-width:100%;
}
.projects-box h2{
  margin: auto;

}

@media(max-width: 600px) {
  .projects-box{
    min-width: 80%;
  }
}


.center-text{
  text-align: center;
  margin:0;
}

.large-font{
  font-size: 2.8rem;

}

@media(max-width: 600px) {
  .large-font{
    margin-top: 3em;
    font-size: 1.5rem;
  }
}



.dark-back{
  width:100%;
  padding-top: 4rem;
  margin:0;
  background-color: rgba(30, 30, 30);
}

.black-back{
  color:black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}

#fish-back{
  background-image: url('../img/fish.png');

  margin: 0;
  padding-top: 1em;
}
#chess-back{
  background-image: url('../img/ChessF.png');
  margin: 0;
  padding-top: 1em;
  background-size: cover;
}

.img-default img{
  max-width:50%;
  margin-left:25%;
  margin-right: 25%
}

@media(max-width: 600px) {
  .img-default img{
    max-width:70%;
    margin-left:12.5%;
    margin-right: 12.5%
  }
}

.para{
  max-width:50%;
  margin-left: 25%;
  margin-right: 25%;
}

@media(max-width: 600px) {
  .para{
    max-width:90%;
    margin-left:5%;
    margin-right:5%
  }
}

.footer-box{
  background-color: black;
  padding-top:1em;
  padding-bottom: .4em;
}
.footer-box a{
  margin-right:1em;

}
.footer-box a:link{
  color:white;
}

.footer-box a:visited{
  color:white;
}

.footer-box a:active{
  color:grey;
}

.bolden{
  font-weight: bold;
}
